<nav>
  {{#if login}}

  <ul>
    <a href="http://localhost:3000/">Главная</a>
    <a href="http://localhost:3000/klad">Мои клады</a>
    <a href="http://localhost:3000/history">История</a>
    <a href="http://localhost:3000/logout">Выход</a>
  </ul>
  {{else}}
  <ul>
    <li><a href="http://localhost:3000/signin">Войти</a></li>
    <li><a href="http://localhost:3000/signUp">Регистрация</a></li>
  </ul>

  {{/if}}
</nav>
