
<h3>Войдите в систему</h3>


<div class="container"> 

<div class="wrapper-login">
<form class="signin" action="/signin" method="POST">   
    <div class="container-login">
      <h2 class="reg-title">Добро пожаловать на klad.me</h2>
    <input class="inputReg" type="email"  name="email" placeholder="E-mail">
    <input class="inputReg" type="password"  name="password"  placeholder="Password">
    <button class="registerbtn" type="submit">Войти</button>
    </div>
</form>
</div>

</div>
<script defer src="/js/signin.js"></script>
