<div class="container"> 


<div class="wrapper-auth">
  <form class="signup" action="/signup" method="POST">
   <div class="container-auth">
     <h2 class="reg-title">регистрация</h2>
     <input class="inputReg" type="text"  name="name" placeholder="Name">
    <input class="inputReg" type="email"  name="email" placeholder="E-mail">
    <input class="inputReg" type="password"  name="password" placeholder="password">
    <button class="registerbtn" type="submit">Зарегистрироваться</button>
   </div>
</form>
</div>

</div>
<script defer src="/js/signup.js"></script>
