/* *{
  margin: 4px;
  padding: 4px;
} */
div{
  color:black
}
html, body, #map {
  width: 100%; height: 100%;
}

nav{
  border-bottom: 2px solid black;
  margin-bottom: 16px;
}
nav ul{
  display: flex;
}
nav ul a{
  width: 100px;
  text-decoration: none;
  color:black;
  font-weight: bold;
  text-align: center;
}
nav ul a:hover{
  color: rgb(56, 56, 56);
}
.container{
  max-width: 980px;
  margin: 0 auto;
  display: flex;
}

#createorsearch{
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
button{
  border: 0;
  max-width: 240px;
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  margin-bottom: 16px;
}
input{
  max-width: 240px;
  width: 100%;
  height: 32px;
}
textarea{
  max-width: 242px;
  width: 100%;
}
p{
  max-width: 625px;
}
img{
  max-width: 100%;
  object-fit: cover;
  width: 300px;
  margin-bottom: 16px;
}

.routemap{
  max-width: 600px;
  max-height: 450px;
  margin: 0 auto;
  display: flex;
  margin-left: 20px;
}
