<div id="map" style="width: 600px; height: 400px"></div>

<form id = 'creategiftpost' enctype="multipart/form-data" action="/creategift" method="POST">
  <p>Нажмите на карте точную геопозицию клада. Для удаления нажмите на нее правой кнопкой мыши</p>
  <div>
    <p> <input  type="text"  name="name" placeholder="Название"></p>
<p><input  type="text"  name="description" placeholder="Описание"></p>
 <p> <input type="file" name="img">
 <input type="hidden" name="coord"></p>

  </div>
  <div>
    <button type="submit">Создать клад</button>
  </div>
</form>


