
<div id="map" style="width: 600px; height: 400px"></div>

<form id='private' action="/private" method="GET">
Есть приватный ключ для клада?

<input type="text" name='id' placeholder="Введите ключ">

<button type="submit">Искать</button>
</form>


